		/**
										guideLine of Templete Spot Declare  
										'********************************'
										Example Created by : Rahul Vishnoi
		*/

/***** See How To Manage Template  *****/


/***** by default available spot for all record :  *****/
<?$Content?>



/***** for handled JavaScript required minimum one  *****/
/***** div with unique id ******/ 
<div id="<?$_name?>">
</div>



/***** create spot btn ******/ 
<?$btn?>


/***** create spot name with default value ******/ 
<?name?>
	enter default value 
<?/name?>



