<!DOCTYPE html>
<html lang="en">
    <head>
		<title><?page_title?>Its a simple example for learn agile toolki<?/?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/jquery-ui.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/atk-main.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/atk-custom.css<?/?>" />
		<?$js_include?>
		<!--[if IE 8]>
			<link rel="stylesheet" type="text/css" href="<?template?>css/ie8.css<?/?>"/>
			<script type="text/javascript" src="<?template?>css/ie8.js<?/?>"></script>
		<![endif]-->
		<script type="text/javascript">
			$(function(){
				<?$document_ready?>
			});
		</script>
	</head>
	<body>
		<div id="atk-layout" class="atk-wrapper">
			<div id="header">

				<div id="header-right">
					<?Menu?>
                            <div class="atk-menu atk-menu-horizontal ui-widget">
                                <ul>
								    <li class="ui-state-default"><a href="javascript:void(0)">Menu is not defined</a></li>
                                </ul>
							</div>
					<?/?>
					<div id="atk-version"><b><?name?>Agile Toolkit Guide Line Examples Created By : <a href="http://facebook.com/rahul.vishnoi.50">Swastik E-Tech™</a><?/?></b><br/><i>
					</i></div>
				</div>
			</div>
			<?$Content?>
			<div id="atk-footer-guard"></div>
		</div>
		<?Footer?>
		<div id="footer" class="atk-wrapper">
			<?footer_text?>
			This system is implemented using <a href="http://facebook.com/rahul.vishnoi.50">Swastik E-Tech</a>. &copy; 2012–2013. 
			<?/?>
		</div>
		<?/?>
		<div id="atk-growl-holder" class="atk-growl"></div>
	</body>
</html>
