<?$Content?>

<table>
	<tr height="25" style="background:yellow">

		<td width="600"> <strong> Contents / titles </strong>
		</td>
		<td> <strong> Goto Chapter </strong>
		</td>
	</tr>


	<tr>
		<td> <?$title_chapter1?> </td>
		<td> <?$chapter1?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter2?> </td>
		<td> <?$chapter2?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter3?> </td>
		<td> <?$chapter3?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter4?> </td>
		<td> <?$chapter4?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter5?> </td>
		<td> <?$chapter5?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter6?> </td>
		<td> <?$chapter6?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter7?> </td>
		<td> <?$chapter7?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter8?> </td>
		<td> <?$chapter8?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter9?> </td>
		<td> <?$chapter9?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter10?> </td>
		<td> <?$chapter10?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter11?> </td>
		<td> <?$chapter11?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter12?> </td>
		<td> <?$chapter12?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter13?> </td>
		<td> <?$chapter13?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter14?> </td>
		<td> <?$chapter14?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter15?> </td>
		<td> <?$chapter15?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter16?> </td>
		<td> <?$chapter16?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter17?> </td>
		<td> <?$chapter17?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter18?> </td>
		<td> <?$chapter18?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter19?> </td>
		<td> <?$chapter19?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter20?> </td>
		<td> <?$chapter20?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter21?> </td>
		<td> <?$chapter21?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter22?> </td>
		<td> <?$chapter22?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter23?> </td>
		<td> <?$chapter23?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter24?> </td>
		<td> <?$chapter24?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter25?> </td>
		<td> <?$chapter25?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter26?> </td>
		<td> <?$chapter26?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter27?> </td>
		<td> <?$chapter27?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter28?> </td>
		<td> <?$chapter28?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter29?> </td>
		<td> <?$chapter29?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter30?> </td>
		<td> <?$chapter30?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter31?> </td>
		<td> <?$chapter31?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter32?> </td>
		<td> <?$chapter32?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter33?> </td>
		<td> <?$chapter33?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter34?> </td>
		<td> <?$chapter34?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter35?> </td>
		<td> <?$chapter35?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter36?> </td>
		<td> <?$chapter36?> </td>
	</tr>

	<tr>
		<td> <?$title_chapter37?> </td>
		<td> <?$chapter37?> </td>
	</tr>

</table>

